# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=YOUR_AUTH_TOKEN_HERE
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=C1ABC292-EE77-46F9-BD6A-B90428BA4882
public-hoist-pattern[]=*prisma*